/* DivTable.com */
@font-face {
    font-family: myFirstFont;
    /*src: url(../media/52811/oxygen.otf);*/
	src: url(../media/52811/oxygen.otf);
	 font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: myFirstFontb;
    src: url(../media/52820/oxygen-bold.otf);
	    font-style: normal;

	font-weight: bold;

}

@font-face {
    font-family: myFirstFonti;
    src: url(../media/52814/oxygen-italic.otf);
    font-weight: normal;

    font-style: italic, oblique;

}

@font-face {
    font-family: myFirstFontib;
    src: url(../media/52817/oxygen-bolditalic.otf);
	font-weight: bold;
	   font-style: italic, oblique;


}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/media/52808/material.otf) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}






body {
	background-color:rgb(68, 65, 66);
}
div {
	font-family: myFirstFont;
}
tbody {
    display: table-row-group;
    width: 100%;
}
td {
		display:table-cell;
		color:#E76F51;
	border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(221, 221, 221);
}

.wrap {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 6px;
	background-color:rgb(245, 245, 245);
		width:100%;
		margin:10px;		
	}
	.programm {
	color:#5ca25f;
	text-align:center;
}
.sinavsaatitablosu {
	display:table;
	width: 100%;
	font-size:35px;
	border-collapse: seperate;
	border-spacing:2px;
	margin-bottom:10px;

}

.program, .derskodu, .dersadi {
	display:table-row;
	width:100%;
		}
	

	

.derskodu .label {
	display:inline-block;
 	width : 30%;
	color:#d99127;
}
		
.dersadi .label {
				display:inline-block;

 	width : 30%;
	color:#d99127;
}
		
.derskodu .value {
	border-top:1px dotted #f44336	;
	border-bottom:1px dotted #f44336;
	color:#d44c9b;
	background-color:rgb(247, 247, 247);

}
		
.dersadi .value {
	display:inline-block;
	border-top:1px dotted #f44336	;
	border-bottom:1px dotted #f44336;
	color:#2f3643;
	font-weight:bold;
	background-color:rgb(247, 247, 247);
}

	
.gozetmen {
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		color: #FFFFFF;
		font-size: 28px;
		font-weight: 500;
		padding: 6px;
		background-color: #C85050;
		text-decoration: none;
		display: inline-block;
	}
.salon {
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		color: #FFFFFF;
		font-size: 28px;
		font-weight: 500;
		padding: 6px;
		background-color: #50aa50;
		text-decoration: none;
		display: inline-block;
	}
.blink_me {	
    animation-duration: 2000ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation:blink 2000ms infinite; /* Safari and Chrome */
}
@keyframes blink {
    from {
        color:red;
    }
    to {
        color:black;
    }
}
@-webkit-keyframes blink {
    from {
        color:red;
    }
    to {
        color:black;
    }
}







/* Logi formu */
		  #panell{
     margin-top: 100px;
     padding: 0px;
   }
   #loginbtn{
     float: right;
     margin-bottom: 10px;
     margin-right: 10px;
   }
   #title{
     background-color: #2bbbad;
     color: white;
     padding: 8px;
     margin-top: 0px
   }
   #loginform{
     padding:0px;
     border-radius: 3px;
     box-sizing: border-box;
   }
   #username,#password{
    margin-left: 20px;
    margin-right: 20px;
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
