<%@ Master Language="C#" MasterPageFile="~/umbraco/masterpages/default.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="ContentPlaceHolderDefault" runat="server">
	<table border="1">
		<tr>
			<td>Dersin Adı</td>
			<td><umbraco:Item field="dersin_adi" runat="server" /></td>
		</tr>
		<tr>
			<td>Dersin Kodu</td>
			<td><umbraco:Item field="dersin_kodu" runat="server" /></td>
		</tr>
	</table>
</asp:Content>