@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
Layout = null;
}
<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="media/942/materializemin.css">
  </head>
  <body style="background-color:white">
    @RenderBody()
    @RenderSection("form", false)
    <script src="scripts/jquery.js"></script>
    <script src="scripts/vue.js"></script>
    <script src="scripts/axios.js"></script>
    <script src="media/948/poppermin.js"></script>
    <script src="/media/939/materializemin.js"></script>
    <script type="text/javascript">
      @RenderSection("script", false)
      $(document).ready(function() {
        $('#deneme').formSelect();
      });
    </script>
  </body>
</html>
