@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Security
@using Umbraco.Web
@using Umbraco.Core
@using Umbraco.Core.Services
@using Umbraco.Core.Models	
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel="stylesheet" href="/css/style.css">
	  <link rel="stylesheet" href="/css/materialize-1.0.0.css">
	<style>
	.modal {
	 max-height: 90% !important;
		top: 5% !important
	}
	div.error {
  color: rgba(255, 0, 0, 0.4);
  margin-top: -8px;
  padding: 0;
  font-size: 0.8em;
}
	</style>
  </head>
	<body style="background-color:white">
	@RenderSection("nav", false)
	<div id="container">
		@RenderSection("body")
	</div>
	
		
	  <script src="scripts/jquery.js"></script>
	  <script src="scripts/vue.js"></script>
	  <script src="scripts/axios.js"></script>
	  <script src="media/948/poppermin.js"></script>
	<script src="/scripts/materialize-1.0.0.js"></script>
	<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
		 <script type="text/javascript">

@RenderSection("script", false)

</script>


  </body>
</html>